{#
  Clean Output MVC
  Alert Block Template

  Aufgabe:
  - Darstellung eines Alert-Blocks
  - Erwartet vorbereitete Block-Daten

  Erwartet:
  - block.data.level
  - block.data.content

  Hinweis:
  - Component-/Block-spezifisch
  - NICHT Core-neutral
#}

<div
    class="ce ce-alert ce-alert--{{ block.data.level }}"
    role="alert"
>
    {{ block.data.content }}
</div>