{#
  Clean Output MVC
  Text Block Template

  Aufgabe:
  - Darstellung eines einfachen Text-Blocks

  Erwartet:
  - block.data.title (optional)
  - block.data.content (optional, HTML)
#}

<section class="ce ce-text">
    {% if block.data.title %}
        <h2>{{ block.data.title }}</h2>
    {% endif %}

    {% if block.data.content %}
        {{ block.data.content|raw }}
    {% endif %}
</section>