<section class="ce ce-text-image ce-text-image--{{ block.data.imagePosition }}">
    <div class="ce-text-image__media">


        {{ image(
            image.preset,
            image.file,
            image.alt
        ) }}
    </div>

    <div class="ce-text-image__content">
        {% if block.data.title %}
            <h2>{{ title }}</h2>
        {% endif %}

        {{ text|raw }}
    </div>
</section>