{% extends "layout/base.html.twig" %}

{% block content %}
<section class="hero-shortener">
    <div class="container">

        {# Brand #}
        

        {# System messages (if any)#}
        {% include "elements/message.html.twig" %}

        {# Error message #}
        <div class="msg-box danger">
            <h2>Error 404</h2>
        </div>

        {# Back to start #}
        

        
    </div>
</section>
{% endblock %}