

{% extends "layout/base.html.twig" %}

{% block content %}
    <section class="hero-shortener">
    <div class="container">

         {% include "elements/2chkbrand.html.twig" %}

{% include "elements/message.html.twig" %}

<hr>

<h2>Link wurde gekürzt...</h2>



{% include "elements/result.html.twig" %}

<hr>


         {% include "elements/shorten-form.html.twig" %}


        <p class="hero-hint">Kostenlos. Gönn dir.</p>

        

    </div>
</section>
{% endblock %}
    